.chat-box {
  height: 60vh;
  overflow-y: scroll;
  word-wrap: break-word;
}

.bottom-border {
  border-bottom: 1px solid darkgrey;
}

.message-row-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

